// COMMON
$white: hsl(0, 0%, 95%);
$black: hsl(0, 0%, 10%);
$danger: hsl(0, 50%, 50%);

// SCALES
$gray: (
  100: hsl(0, 0%, 85%),
  200: hsl(0, 0%, 80%),
  300: hsl(0, 0%, 70%),
  400: hsl(0, 0%, 60%),
  500: hsl(0, 0%, 50%),
  600: hsl(0, 0%, 40%),
  700: hsl(0, 0%, 30%),
  800: hsl(0, 0%, 20%),
  900: hsl(0, 0%, 15%),
);
