@import "@fontsource/montserrat/latin.css";
@import "@fontsource/inter/latin.css";
@import "colors.css";

/* GLOBALS AND RESETS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: Inter;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat;
}

body {
  color: var(--black);
  background-color: var(--white);
}

[scheme="dark"] body {
  color: var(--white);
  background-color: var(--black);
}
