---
import Switch from "./Switch.astro";
---

<nav>
  <Switch />
</nav>

<style lang="scss">
  nav {
    height: 5rem;
    width: min(85%, 80em);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
</style>
